<!-- <html><body>
    <h1>Welcome to my api: Whatscooking!</h1>
    <p>Please add some ingredients to the url to receive recipe recommendations.
       You can do this by appending "/recipe?ingredients= Pasta Tomato ..." to the current url.
    <br>Click <a href="/recipe?ingredients= pasta tomato onion">here</a> for an example when using the ingredients: pasta, tomato and onion.
</body></html> -->

    <head>
        <title>

        </title>
    </head>
    <body>
        <h1>
            hellllllo
        </h1>
        <p>
            add ingredients to the url 
        </p>
    </body>
</html>